<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate
Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
 
  <session-factory>
    <!-- Database connection settings -->
    <!--
      <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="connection.url">jdbc:mysql://192.168.33.151:3306/ipggos</property>
      <property name="connection.username">root</property>
      <property name="connection.password">admin123</property>
     -->

     <property name="connection.driver_class">org.postgresql.Driver</property>
      <property name="connection.url">jdbc:postgresql://localhost:5432/ipggos</property>
      <property name="connection.username">postgres</property>
      <property name="connection.password">sessp*ipgg</property>
 
      <!--
          JDBC connection pool (use the built-in)
          commented out this property to fix
          Caused by: org.hibernate.HibernateException: The internal connection pool has reached its maximum size and no connection is currently available!
          <property name="connection.pool_size">1</property>
      --> 

      <!-- SQL dialect 
      <property
          name="dialect">org.hibernate.dialect.MySQLDialect</property>
      -->
      <property
          name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
       

      <!-- Enable Hibernate's automatic session context management -->
      <property name="current_session_context_class">thread</property>

      
      <!-- Conn Pool -->
      <property name="hibernate.c3p0.min_size">10</property>
      <property name="hibernate.c3p0.max_size">20</property>
      <property name="hibernate.c3p0.timeout">1800</property>
      <property name="hibernate.c3p0.max_statements">50</property>

      
      <!-- Disable the second-level cache -->
      <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
 

      <!-- Echo all executed SQL to stdout -->
      <property name="show_sql">true</property>

      
      <!-- Database DDL behavior-->
      <property name="hibernate.hbm2ddl.auto">update</property>
       <!-- 
      <property name="hibernate.hbm2ddl.auto">create-drop</property>
      -->
      <mapping class="com.ipgg.ipggos.model.sistema.SistemaUsuario"/>
      <mapping class="com.ipgg.ipggos.model.sistema.SistemaUsuarioRole" />
      <mapping class="com.ipgg.ipggos.model.common.AvaliacaoOS" />      
      <mapping class="com.ipgg.ipggos.model.common.FeedbackOS" />      
      <mapping class="com.ipgg.ipggos.model.OrdemServico" />                      
      <mapping class="com.ipgg.ipggos.model.common.Pessoa" />
      
      
  </session-factory>
 
</hibernate-configuration>
